{:cache   {:port 6379
           :host "localhost"}
 :db      {:name     "namelss"
           :type     "postgresql"
           :port     "5432"
           :user     "namelss"
           :server   "/cloudsql/namelss:us-central1:namelss-db"
           :password "Oy2ezC850v5rdjHi"}
 :hikari  {:connection-timeout 2000
           :validation-timeout 1000
           :idle-timeout       60000
           :max-lifetime       1800000
           :minimum-idle       20
           :maximum-pool-size  50
           :pool-name          "db-pool"
           :adapter            "postgresql"
           :username           "namelss"
           :password           "Oy2ezC850v5rdjHi"
           :database-name      "namelss"
           :server-name        "/cloudsql/namelss:us-central1:namelss-db"
           :port-number        5432
           :register-mbeans    false}
 :server  {:port 8080}
 :message {:save-retry-limit 3}}
