{:cache   {:port 6379
           :host "localhost"}
 :db      {:name     "namelss_test"
           :type     "postgresql"
           :port     "5432"
           :user     "postgres"
           :server   "localhost"
           :password ""}
 :hikari  {:connection-timeout 2000
           :validation-timeout 1000
           :idle-timeout       60000
           :max-lifetime       1800000
           :minimum-idle       20
           :maximum-pool-size  50
           :pool-name          "db-pool"
           :adapter            "postgresql"
           :username           "postgres"
           :password           ""
           :database-name      "namelss_test"
           :server-name        "localhost"
           :port-number        5432
           :register-mbeans    false}
 :server  {:port 8080}
 :message {:save-retry-limit 3}}
